<div class="card blue darken-2">
  <div class="card-content white-text">
    <h4>Organizations</h4>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab" style="color: white;"><a href="#test8" class="active">No of Public Organizations</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4"><p class="cetner-align">This user is involved in <strong>{{organizations_count}}</strong> Public Organizations.</p></div>
  </div>
</div>
