<!-- Modal Structure -->
<div id="modal1" class="modal red darken-3 white-text" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="valign-wrapper"><h4><i class="medium material-icons">help</i>  ERROR!</h4></div>
    <h5 class="light">You have entered an <strong>invalid Stackoverflow User ID.</strong> Stackoverflow ID's can be identified via the users profile URL.</h5>
    <br />
    <h5><strong>For an example,</strong></h5>
    <br />
    <h5 class="light">https://stackoverflow.com/users/7870026/dasun-pubudumal suggests that the users' user ID is <strong>7870026</strong>.</h5>
  </div>
  <div class="modal-footer red darken-4">
    <a class="waves-effect waves-green btn-flat white-text" (click)="closeModal()">Okay</a>
  </div>
</div>
