<div class="card teal darken-2">
  <div class="card-content white-text">
    <h4 class="center-align"> <strong>{{username}}</strong><span class="light"> was mentioned</span><strong> {{mentions}}</strong> <span class="light"> times.</span></h4>
  </div>
</div>

<div class="card green darken-1">
  <div class="card-content white-text">
    <h4 class="center-align"> <strong>{{username}}</strong><span class="light"> has </span><strong> {{fav}}</strong> <span class="light"> favorite questions.</span></h4>
  </div>
</div>
