<nav class="nav-extended blue darken-3">
  <div class="nav-wrapper">
    <span style="margin-left: 20px;"><a href="#" class="brand-logo"><i class="material-icons" style="font-size: 3rem">
filter_tilt_shift</i><strong>DEVSTATS</strong> - A Developer Profile Analyzer</a></span>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/dasunpubudumal/developer-profile-analyzer" class="social github" target="_blank"><i class="material-icons left">
        person</i>Github</a></li>
      <li><a href="https://dasunpubudumal.github.io/profile-analyzer.github.io/" target="_blank"><i class="material-icons left">
        live_help</i>Documentation</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="https://github.com/dasunpubudumal/developer-profile-analyzer" target="_blank">Github</a></li>
      <li><a href="https://dasunpubudumal.github.io/profile-analyzer.github.io/">Documentation</a></li>
    </ul>
  </div>
  <div class="row nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab col s4"><a routerLink="/" routerLinkActive="active">Stack Overflow</a></li>
      <li class="tab col s4"><a id = "github-search" routerLink="/github" routerLinkActive="active">Github</a></li>
      <li class="tab col s4"><a routerLink="/twitter" routerLinkActive="active">Twitter</a></li>
    </ul>
  </div>
</nav>

<!-- Tap Target Structure -->
<div class="tap-target" data-activates="menu">
  <div class="tap-target-content">
    <h5>Title</h5>
    <p>A bunch of text</p>
  </div>
</div>

<script>
  $('.tap-target').tapTarget('open');
  $('.tap-target').tapTarget('close');
</script>
