<footer class="page-footer blue darken-3">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Developer Statistics for Decision Making</h5>
      <p class="grey-text text-lighten-4">Faster, easier, and reliable way of getting developer information in one portal for the decision making purposes for your organization.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Related links about the project</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://github.com/dasunpubudumal/developer-profile-analyzer" target="_blank">Github Repository</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Crystal IT <small>Dasun Pubudumal</small>
    <a class="grey-text text-lighten-4 right"></a>
  </div>
</div>
</footer>
