<div>

  <app-stackerror></app-stackerror>

  <!--Search input-->
  <div class="container input-field col s6" style="width: 40%">
    <i class="material-icons prefix">account_circle</i>
    <input id="searchInput" type="text" [(ngModel)]="id" name="id" (keyup.enter) = "_get();test()" required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
           type = "number"
           maxlength = "7" class="stackSearch"  autofocus>
  </div>

  <!--Profile Card-->
  <div class="row">
    <div class="col s12 m12 l2 xl2">
      <div class="card">
        <div class="card-image">
          <img src="{{user.profile_image}}">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{user.display_name}}</span>
          <a class="waves-effect waves-light btn blue darken-3" href="{{user.website_url}}" target="_blank">Website</a>
        </div>
        <div class="card-reveal">
        </div>
      </div>
    </div>

    <div class="col l10 xl10">
      <app-dashboard [id]="id" [user]="user"></app-dashboard>
      <div class="row">
        <div class="col l5 xl5 m12 s12"><app-mentions [id]="id" [username]="user.display_name"></app-mentions></div>
        <div class="col l7 xl7 m12 s12"><app-reputation [id] = "id"></app-reputation></div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col l7 xl7 m12 s12">
      <div class="row">
        <div class="col l6 xl6 m12 s12">
            <h4 class="light blue-grey-text center-align">Tags by Score</h4>
            <app-toptags [id]="id"></app-toptags>
        </div>
        <div class="col l6 x6 m12 s12">
          <div class="container"><h4 class="light blue-grey-text center-align">More stats about Tags/Topic</h4></div>
          <app-tags [id]="id"></app-tags>
          <div class="card light-blue darken-4">
            <div class="card-content white-text">
              <h4 class="center-align"> <strong>{{user.display_name}}</strong><span class="light"> has</span><strong> {{user.reputation}}</strong> of reputation.</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col l5 xl5 m12 s12">
      <h4 class="light blue-grey-text center-align">Popular Tags by {{user.display_name}}</h4>
      <div class="center-align">
        <app-wordcloud [id]="id" [username]="user.display_name"></app-wordcloud>
      </div>
    </div>
  </div>

  <!--How to-->
  <app-howto></app-howto>

</div>

