
<div class="row">
  <div class="col s12 m12 l3 xl3">
    <div class="card light-blue darken-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col l6 xl6">
            <i class="large material-icons">favorite</i>
          </div>
          <div class="col l6 xl6">
            <span class="card-title"><strong><p class="center-align">Gold</p></strong></span>
            <h4 class="center-align"><strong>{{gold}}</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l3 xl3">
    <div class="card light-blue darken-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col l6 xl6">
            <i class="large material-icons">favorite_border</i>
          </div>
          <div class="col l6 xl6">
            <span class="card-title"><strong><p class="center-align">Silver</p></strong></span>
            <h4 class="center-align"><strong>{{silver}}</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l3 xl3">
    <div class="card light-blue darken-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col l6 xl6">
            <i class="large material-icons">insert_emoticon</i>
          </div>
          <div class="col l6 xl6">
            <span class="card-title"><strong><p class="center-align">Bronze</p></strong></span>
            <h4 class="center-align"><strong>{{bronze}}</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l3 xl3">
    <div class="card light-blue darken-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col l6 xl6">
            <i class="large material-icons">check</i>
          </div>
          <div class="col l6 xl6">
            <span class="card-title"><strong><p class="center-align">Quest.</p></strong></span>
            <h4 class="center-align"><strong>{{questions}}</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
