<div style="padding-left: 10px;">

  <!--Search input-->
  <div class="container input-field col s6" style="width: 40%">
    <i class="material-icons prefix">account_circle</i>
    <input id="icon_prefix" type="text" [(ngModel)]="handle" name="handle" (keyup.enter) = "test();" autofocus autocomplete="off">
  </div>

  <div class="row">
    <div class="col xl3 l3 m12 s12" *ngIf="isDataLoaded">
      <div class="card"><div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{user.originalProfileImageURLHttps}}">
      </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><p class="left-align">{{user.name}}</span>
          <p class="light">{{user.location}}</p>
        </div>
      </div>
      <app-twitterfollowers [handle]="handle"></app-twitterfollowers>
    </div>
    <div class="col xl9 l9 m12 s12" *ngIf="isDataLoaded">
      <div class="row" *ngIf="user.description">
        <blockquote><p class="flow-text center-align">"{{user.description}}"</p></blockquote>
      </div>
     <app-twitterdashboard [user]="user"></app-twitterdashboard>
      <br />
      <div class="row">
        <div class="col xl7 l7 m12 s12">
          <app-twittertimeline [(handle)]="handle"></app-twittertimeline>
        </div>
        <div class="col xl5 l5 m12 s12">
          <span class="card-title"><strong><p class="center-align">Click here to go to the profile!</p></strong></span>
          <div class="container" align="center">
            <a class="waves-effect waves-light btn blue accent-4" href="{{user.urll}}" target="_blank">Click!</a>
          </div>
          <app-twitterrealfollowers [handle]="handle"></app-twitterrealfollowers>
        </div>
      </div>
    </div>
  </div>

</div>
