<div class="fixed-action-btn horizontal click-to-toggle">
  <a id="menu" class="btn-floating btn-large green darken-4 pulse" (click)="toggle()" data-position="bottom" data-delay="50" data-tooltip="Go to users profile">
    <i class="material-icons">info_outline</i>
  </a>
</div>
<!-- Tap Target Structure -->
<div class="tap-target green darken-4" data-activates="menu" materialize [materializeActions]="tapTargetActions">
  <div class="tap-target-content">
    <span style="color: white;">
      <p class="white-text">{{text}}</p>
    </span>
  </div>
</div>
